<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768227274634-rvrofc4ltdl9j31rib2mops785i2oi3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768227274634-rvrofc4ltdl9j31rib2mops785i2oi3o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>768227274634-r3shf9kmgan592485vv9q36rn0ldtppj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDLArqv_AU_iVGNd4ki6AOMEcZ-nNDborc</string>
	<key>GCM_SENDER_ID</key> 
	<string>768227274634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patrickwitter.gatherapp</string>
	<key>PROJECT_ID</key>
	<string>upcj-fb059</string>
	<key>STORAGE_BUCKET</key>
	<string>upcj-fb059.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768227274634:ios:103b257cc994a977aaa273</string>
</dict>
</plist>